[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "TSdeeplearning"]
	path = TSdeeplearning
	url = https://github.com/cran/TSdeeplearning
[submodule "stlARIMA"]
	path = stlARIMA
	url = https://github.com/cran/stlARIMA
